<configuration>

    <!-- Console appender to output logs to the console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} input.zip=[%X{input.zip.name}] action.type=[%X{actionType:-}] root.uri=[%X{rootUri:-}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration to log everything at DEBUG level -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Logger for specific package with INFO level -->
    <logger name="com.example" level="info">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Logger for tests with DEBUG level -->
    <logger name="com.example.tests" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
